$primary-black: #000000;
$primary-dark-blue: #000044;
$primary-blue-: #000384;
$primary-teal: #00aba1;
$primary-dark-purple: #460088;

$secondary-mint: #00ce74;
$secondary-green: #00905f;
$secondary-forest-green: #00511d;
$secondary-dark-green: #002801;
$secondary-plum: #370050;
$secondary-purple: #7000c6;
$secondary-magenta: #a800c6;

$tertiary-darker-blue: #010626;
$tertiary-dark-blue: #0d2840;
$tertiary-dark-green-blue: #1c3940;
$tertiary-green-blue: #325959;
$tertiary-navy-blue: #10283d;