<div class="scores">
    <theta-factor
        [imagePath]="'./assets/images/factors/fish.svg'"
        [score]="scores.resources"
        placement="top"
        ngbTooltip="Ressources"
        tooltipClass="tooltip-custom-class">
    </theta-factor>
    <theta-factor
        [imagePath]="'./assets/images/factors/lightbulb.svg'"
        [score]="scores.technology"
        placement="top"
        ngbTooltip="Technologie"
        tooltipClass="tooltip-custom-class">
    </theta-factor>
    <theta-factor
        [imagePath]="'./assets/images/factors/human.svg'"
        [score]="scores.population"
        placement="top"
        ngbTooltip="Population"
        tooltipClass="tooltip-custom-class">
    </theta-factor>
    <theta-factor
        [imagePath]="'./assets/images/factors/shell.svg'"
        [score]="scores.finances"
        placement="top"
        ngbTooltip="Finances"
        tooltipClass="tooltip-custom-class">
    </theta-factor>
</div>