<div class="page board">
    <div class="menu">
        <li>
            <ul placement="bottom" ngbTooltip="Pas encore implémenté !" tooltipClass="tooltip-custom-class">
                Projet THETA
            </ul>
            <ul placement="bottom" ngbTooltip="Pas encore implémenté !" tooltipClass="tooltip-custom-class">
                Histoire des personnages
            </ul>
            <ul placement="bottom" ngbTooltip="Pas encore implémenté !" tooltipClass="tooltip-custom-class">
                Règles du jeu
            </ul>
        </li>
    </div>
    <div class="content">
        <theta-scores [scores]="scores"></theta-scores>
        <div class="card">
            <div class="verso">
                <img src="assets/images/logo.png">
            </div>
            <theta-card class="recto"
                [card]="currentCard"
                (onChoice)="onChoice($event)"
            ></theta-card>
        </div>
    </div>
    <div class="counter" placement="top" ngbTooltip="Progrès dans le jeu" tooltipClass="tooltip-custom-class">
        <span>{{ counter }} km</span>
    </div>
</div>
