@import "mixin.scss";
@import "color.scss";
@import "font.scss";
@import "responsive.scss";

$border-radius: 5%;

.board {
    @include flex-full-centered;
    justify-content: space-around;
    background-image: url("src/assets/images/background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;

    .menu {
        position: absolute;
        top: 0px;
        width: 100%;
        height: auto;
        background: $primary-dark-blue;

        .burger {
            display: none;
        }

        li {
            display: flex;
            flex-direction: row;
            color: white;
            font-size: 30px;

            ul {
                cursor: pointer;
                text-decoration: none;
                padding-left: 0px;
                margin-left: 20px;
            }
        }
    }

    .content {
        .card {
            position: relative;
            width: 300px;
            height: 450px;
    
            .recto, .verso {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
    
            .verso {
                background: $secondary-plum;
                border-radius: $border-radius $border-radius $border-radius $border-radius;
                box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                img {
                    width: 250px;
                    margin-left: 5px;
                }
            }
        }
    }

    .counter {
        position: absolute;
        width: 300px;
        height: 100px;
        background: $primary-dark-blue;
        bottom: 0px;
        border-radius: 50% / 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: $font-title;
        font-weight: bolder;
        color: white;
        cursor: pointer;

        span {
            margin-top: 5px;
        }
    }    
}

@include tablet-small {
    .board {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .menu, .content, .counter {
            position: static;
        }

        .menu {
            flex-grow: 0;
            height: auto;
            display: flex;

            &.change {
                height: auto;
            }

            .burger {
                display: inline-block;
                margin: 20px;

                .bar1, .bar2, .bar3 {
                    width: 35px;
                    height: 5px;
                    background-color: white;
                    margin: 6px 0;
                    transition: 0.4s;
                }

                &.change .bar1 {
                    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                    transform: rotate(-45deg) translate(-9px, 6px);
                  }
                  
                &.change .bar2 {
                    opacity: 0;
                }
                  
                &.change .bar3 {
                -webkit-transform: rotate(45deg) translate(-8px, -8px);
                transform: rotate(45deg) translate(-8px, -8px);
                }
            }

            .tabs {
                display: none;
                margin: 20px;

                ul {
                    margin: 0px;
                    padding: 0px;

                    &:not(:first-of-type) {
                        margin-top: 10px;
                    }
                }
                
                &.change {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                }
            }
        }

        .content {
            margin-top: 20px;
            margin-bottom: 20px;
            
            .card {
                height: 400px;
            }
        }
        
        .counter {
            flex-grow: 0;
            margin-top: 0px;
            height: auto;
            width: 100%;
            border-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            font-size: $font-subtitle;

            span {
                margin: 20px;
            }
        }
    }
}