<div class="page board">
    <div class="menu">
        <li>
            <ul placement="bottom" ngbTooltip="{{ 'board.tooltip.not_implemented_yet'| translate }}" tooltipClass="tooltip-custom-class">
                {{ 'board.menu.tab_1'| translate }}
            </ul>
            <ul placement="bottom" ngbTooltip="{{ 'board.tooltip.not_implemented_yet'| translate }}" tooltipClass="tooltip-custom-class">
                {{ 'board.menu.tab_2'| translate }}
            </ul>
            <ul placement="bottom" ngbTooltip="{{ 'board.tooltip.not_implemented_yet'| translate }}" tooltipClass="tooltip-custom-class">
                {{ 'board.menu.tab_3'| translate }}
            </ul>
        </li>
    </div>
    <div class="content">
        <theta-scores [scores]="scores"></theta-scores>
        <div class="card">
            <div class="verso">
                <img src="assets/images/logo.png">
            </div>
            <theta-card class="recto"
                [card]="currentCard"
                (onChoice)="onChoice($event)"
            ></theta-card>
        </div>
    </div>
    <div class="counter" placement="top" ngbTooltip="{{ 'board.tooltip.progress'| translate }}" tooltipClass="tooltip-custom-class">
        <span>{{ counter }} km</span>
    </div>
</div>
