@import "mixin.scss";
@import "font.scss";
@import "color.scss";
@import "responsive.scss";

.home {
    @include flex-full-centered;
    flex-direction: column;
    text-transform: uppercase;
    background-image: url("src/assets/images/background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    height: 100vh;

    > div {
        text-align: center;
    }

    > .button {
        border: 2px white solid;
        padding: 20px 40px;
        border-radius: 20px;
        margin-top: 80px;
        transition: 0.5s ease;
        cursor: pointer;

        &:hover {
            padding: 20px 80px;
        }
    }
}

@include tablet-small {
    .home {
        .title-bigger {
            font-size: 64px;
        }

        .subtitle-big {
            font-size: 32px;
        }

        .subtitle {
            font-size: 24px;
        }
    }
}