@import "mixin.scss";
@import "font.scss";
@import "color.scss";

.home {
    @include flex-full-centered;
    flex-direction: column;
    text-transform: uppercase;
    background-color: $tertiary-darker-blue;
    color: white;

    > div {
        text-align: center;
    }

    /*
    div {
        background-image: url(https://risibank.fr/cache/stickers/d1946/194602-full.gif);
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        line-height: .75;
        margin: 10px 0;
    }
    */
}