@import "font.scss";
@import "responsive.scss";

.factor {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    span {
        margin-top: 10px;
        font-size: $font-subtitle;
        font-weight: bolder;
        color: white;
        -webkit-text-stroke: 2px white;
    }

    .loss {
        color: red;
        -webkit-text-stroke: 2px red;
    }
}

@include tablet-small {
    .factor {
        span {
            font-size: $font-default;
        }

        img {
            width: 25px !important;
            height: 25px !important;
        }
    }
}