@import "font.scss";

.factor {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        margin-top: 10px;
        font-size: $font-subtitle;
        font-weight: bolder;
        color: white;
        -webkit-text-stroke: 2px white;
    }

    .loss {
        color: red;
        -webkit-text-stroke: 2px red;
    }
}