@import "color.scss";
@import "mixin.scss";
@import "responsive.scss";

$border-radius: 5%;

.card {
    font-weight: bolder;
    text-align: center;
    
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 450px;

    border-radius: $border-radius $border-radius $border-radius $border-radius;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    &-visual {
        position: relative;

        width: 100%;
        height: 300px;

        border-radius: $border-radius $border-radius 0px 0px;

        img {
            width: 100%;
            height: 100%;

            border-radius: $border-radius $border-radius 0px 0px;
        }
        
        &-label {
            position: absolute;
            bottom: 0;
            width: calc(100% - 2 * 20px);

            padding: 10px 20px;
            text-align: center;
            color: white;
            background-color: rgba($color: #000000, $alpha: 0.3);
        }

        &-decisions {
            position: absolute;
            top: 0;
            width: 100%;
            height: calc(100% - 39.2px);
            display: flex;
            cursor: pointer;

            &-left {
                flex: 1 0 50%;
                @include flex-full-centered;

                span {
                    color: white;
                    margin: 10px;
                    visibility: hidden;
                }

                &:hover {
                    background-color: rgba($color: $secondary-plum, $alpha: 0.8);
                    border-radius: 15px 0 0 0;

                    span {
                        visibility: visible;
                    }
                }
            }
    
            &-right {
                flex: 1 0 50%;
                @include flex-full-centered;

                span {
                    color: white;
                    margin: 10px;
                    visibility: hidden;
                }
                
                &:hover {
                    background-color: rgba($color: $secondary-plum, $alpha: 0.8);
                    border-radius: 0 15px 0 0;

                    span {
                        visibility: visible;
                    }
                }
            }
        }
    }

    &-text {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        flex: 1 0 auto;

        background-color: $secondary-plum;
        border-radius: 0px 0px 2*$border-radius 2*$border-radius;

        text-align: center;
        color: white;

        > span {
            margin: 20px;
        }
    }
}