@import "color.scss";

$border-radius: 5%;

.card {
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 450px;

    border-radius: $border-radius $border-radius $border-radius $border-radius;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    &-visual {
        position: relative;

        width: 100%;
        height: 300px;

        border-radius: $border-radius $border-radius 0px 0px;

        img {
            width: 100%;
            height: 100%;

            border-radius: $border-radius $border-radius 0px 0px;
        }
        
        &-label {
            position: absolute;
            bottom: 0;
            width: calc(100% - 2 * 20px);

            padding: 10px 20px;
            text-align: center;
            color: white;
            background-color: rgba($color: #000000, $alpha: 0.3);
        }
    }

    &-text {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        flex: 1 0 auto;

        background-color: $tertiary-dark-green-blue;
        border-radius: 0px 0px $border-radius $border-radius;

        text-align: center;
        color: white;

        > span {
            margin: 20px;
        }
    }
}