/* You can add global styles to this file, and also import other style files */
@import "global.scss";
@import "color.scss";

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/tooltip";

.tooltip-custom-class .tooltip-inner {
    background-color: $secondary-plum;
    font-size: 125%;
}
.tooltip-custom-class .arrow::before {
    border-bottom-color: $secondary-plum;
    border-top-color: $secondary-plum;
}